{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
    </nav>
   </header>

   <section class='body-container'>
   {% block content %} 
   {% endblock %}
   </section>

   <script src="{% static 'blog/js/style.js' %}"></script>
</body>
</html>
