{% extends "main.html" %}

{% block content %}

<section class='blog-container'>
    <h1>Blog Posts</h1>

{% if posts %}
    <ul class='grid-container'>
    {% for post in posts %}
        <li class='grid-item'>
            <div><img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image"></div>
            <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
            <p>{{ post.created_at|date:"M d, Y" }}</p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nothing to see here, cunt.</p>
{% endif %}       

</section>
{% endblock %}